/* input field used to search task */

/* <input type="text" class="task-input"> */
.task-input {
  font-size: 1rem;
  font-weight: lighter;
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 0.5rem;
  border: 1px solid grey;
  color: grey;
}

.task-input:focus {
  outline: none;
}

/* buttons */

.delete:hover {
  cursor: pointer;
}

/* task strip */

/* 
<div class="task">
  <input type="checkbox" class="task-checkbox"/>
  <p class="task-name">${name of task}</p>
  <input type="button" class="btn edit" value="edit" />
  <input type="button" class="btn delete" value="delete" />
</div>
*/

.task {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  gap: 8px;
}

.task .task-name {
  flex-grow: 1;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: black;
  font-family: sans-serif;
  border: none;
}

.task .task-name:focus {
  outline: none;
}

.task-name.done {
  color: grey;
  text-decoration: line-through;
}

.task .task-checkbox {
  margin: 0;
}

/* task log */

.tasklog {
  display: flex;
  position: relative;
  background-color: transparent;
  flex-direction: column;
  height: 360px;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 8px;
}

.tasklog.bg::before {
  content: "";
  text-align: center;
  z-index: -1;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(edit-3.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

/* todo container */
.todo_container {
  border: 1px solid black;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  border-radius: 1rem;
  width: 480px;
}

/* task entry section */

/* 
<section class="taskEntry">
  <input type="text" class="task-input taskEntry-input">
  <input type="button" value="add" class="btn add">
</section>
*/

.task_entry {
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.task_entry .task_entry-input {
  flex-grow: 1;
  border: none;
}
