/* body * {
  border: 1px solid black;
} */

/* variable */
:root {
  --todo-width: 480px;
  --todo-height: 240px;
}

/* todo container */

#todo {
  border: 1px solid black;
  position: fixed;
  top: 33.333%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: var(--todo-width);
  height: 240px;
  padding: 8px;
}

/* search section */
#search > .search-bar {
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  border-radius: 0.5rem;
  border: 1px solid grey;
  color: grey;
}

#search > input:focus {
  outline: none;
}

/* tasks section */

#tasks {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: none;
  gap: 12px;
}

.empty::before {
  content: "Add a new task to begin.";
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  background-image: url(edit-3.png);
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

#tasks > .task {
  display: flex;
  align-items: center;
  gap: 8px;
}

#tasks .task .task-name {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: sans-serif;
  border: none;
}

#tasks .disabled {
  text-decoration: line-through;
  color: grey;
}

#tasks > .task > .task-name:focus {
  outline: none;
  border: none;
}

/* buttons section */

#buttons {
  display: flex;
  gap: 6px;
}
